*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    /* background-color: aliceblue; */
    padding-inline: 30px;
    position: fixed;
    width: 100%;
}
header .logo img{
    width: 60px;
}

header nav a{
    text-decoration: none;
    margin-inline: 10px;
    font-size: 20px;
}
/* #home{
    height: calc(100% - 60px);
} */
#home .container .container-video #myVideo{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:480px) {
    #home .container .container-video #myVideo{
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }
}